.UpdateUser{
    width: 25%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(red, green, blue, alpha);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}
.UpdateUserForm{
    margin-top: 20px;
}
.UpdateUserForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;     
}

.UpdateUserForm .inputGroup label{
    margin-bottom: 5px;
}

.UpdateUser .inputGroup input {
    margin-bottom:10px;
    padding: 10px;
    outline: none;
}

.UpdateUser .inputGroup button {
    border: 0;
    outline: none;
    background-color: purple;
    color: white;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 8px rgba(red, green, blue, alpha);
    margin-top: 20px;    
}
.UpdateUser h3{
    margin-top: 10px;
}